
#won, #lost {
    display: none;
}

#word, #letters {
    padding: 20px 0px;
}

header {
    background-color: lightpink;
}

div {
    background-color: lightgoldenrodyellow;
}

h1, h4 {
    font-style: italic;
}

#man {
    margin: 20px auto;
    width: 600px;
    height: 600px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
}

#word {
    font-size: 1.8em;
}

.btn {
    padding: 7px 7px !important;
    margin: 0px 2px;
}

.hint {
    font-size: 1em !important;
}